<li class="col-md-4 conversation">
  <div class="panel panel-default" data-conversation-id="<%= conversation.id %>">
    <div class="panel-heading">
      <%= conversation.opposed_user(user).email %>
      <%= link_to image_tag("close.png"), close_conversation_path(conversation), class: "pull-right message-icon", remote: true, method: :post %>

      <%= link_to image_tag("expand.png"), '', class: 'pull-right toggle-window message-icon' %>
    </div>



    <div class="panel-body" style="display: none;">
      <div class="messages-list">
        <ul>
          <%= render 'conversations/conversation_content', messages: conversation.messages, user: user %>
        </ul>
      </div>
      <%= form_for [conversation, conversation.messages.new], remote: true do |f| %>
        <%= f.hidden_field :user_id, value: user.id %>
        <%= f.text_area :body, class: "form-control" %>
        <%= f.submit "Send", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</li>